h1 {
	font-family: 'Open Sans', sans-serif;
	clear: both;
	padding-top: 150px;
	margin-left: 5px;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f9fafc;
}

.navbar {
	float: right;
	margin-top: 5px;
}

.navbar a {
	text-decoration: none;
	color: #69696a;
	margin-right: 15px;
}

#hireBTN {
	background-color: #000;
	padding: 4px 26px;
	color: white;
	border: 1px solid black;
	border-radius: 71px;
}

#brand {
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

p {
	vertical-align: left;
	margin-left: 5px;
}